body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #0795F9;
    color: white;
}

h6{
    font-size: 14px;
}

i{
    color: #90E0EF;;
}

.rt{
    color: #fff;
}

.nx-h{
    background-color: #ffffff1a;
    border-radius: 10px;   
}

h5{
    font-size: 15px;
}

.big{
    overflow: scroll;
   -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
  
  .big i{
      font-size: 29px;
  }
  
  .big h5{
      font-size: 16px;
  }
  .big::-webkit-scrollbar {
    display: none;
  }


.fa-sun{
    color: #ffb703;

}

.fa-cloud{
    color: #B5BEC6;
}

@media only screen and (min-width: 900px) {
    .nx-h{
        background-color: #fff;
        border-radius: 10px;
        width: 140px;
    }

    .rt{
        color:#222D3D ;
    }

  
}
    